header {
  text-align: center;
  margin: 1em auto;
}
/* .flex {
    display: inline-flex;
    flex-direction: column;
} */

/* cards */

.cards {
    height: 300px;
    width: fit-content;
    margin: 1em auto;
    background-color: plum;
}

/* tabs */

nav.tabs li {
    list-style:none;
    display:inline-flex;
}

nav.tabs li a {
    background-color:#a8a8a8;
    color: white;
    padding:8px 14px 6px 14px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    border:1px solid #000000; 
}

nav.tabs li a:hover {
    background-color:rgb(255, 255, 255);
    color: black;
    border-color:#000000;
    cursor: pointer;
}

nav.tabs li a.active {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    border:1px solid #000000; 
    border-bottom: 1px solid #ffffff;
}

/* .content {
    background-color:#ffffff;
    padding: 5px;
    border:1px solid #464c54; 
    height: 75%;  
} */
/* #content_2, #content_3 { display:none; } */

/* ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
} */

/* .content ul {
    margin:0px;
    padding:20px;
    width: 45%;
}
.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:25px;
    padding-bottom: 3px;
    font-size:13px;
}
.content ul li a {
    text-decoration:none;
    color:#000000;
}
.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
} */
