header {
  text-align: center;
  margin: 1em auto;
}

/* cards */

.container {
    height: 300px;
    width: fit-content;
    margin: 1em auto;
    /* background-color: lightgray; */
}

/* CARD: the names starting with a */

div ul {
    list-style: none;
    text-align: left;
    padding: 10px;
    display: flex;
    /* width: fit-content; */
    width: 95%;
    height: inherit;
    margin: 1px auto;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: capitalize;
}

div ul li {
    padding-bottom: 10px;
    padding-top: 5px;
    width: 45%;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    /* border-bottom: 1px dotted grey;  */
}

/* div ul li:after {
    content: "";
    display: block;
    width: 85%; 
    padding-top: 5px;
    border-bottom: 1px dotted grey; 
    z-index:1;
} */

div ul li.active {
   /* color: black;
   height: 30%;
   z-index: 20;
   position: sticky;
   background-color:#c4c4c4 ;
   border-bottom: none;
    border-radius: 10px;
   padding-left: 10px; */
   text-transform: uppercase;
}

/* tabs */

nav.tabs li {
    list-style:none;
    display:inline-flex;
}

nav.tabs li {
    background-color:#a8a8a8;
    color: white;
    padding:8px 14px 6px 14px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    border:1px solid #000000; 
    border-top-left-radius: 5pt 5pt;
    border-top-right-radius: 5pt 5pt;
}

nav.tabs li:hover {
    background-color:rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

.tabs li.active {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom-color: #FFF;
    cursor: pointer;
}

.hide {
    display: none;
}

div ul li:nth-of-type(1n+9) {
  display: none;
}

.content {
    background-color:#ffffff;
    border:1px solid #464c54;
    border-top: none; 
    height: 75%;  
    text-align: center;
} 

/* individual name cards */

.cards {
    text-align: left;
    padding-left: 50px;
    margin: 1em auto;
    border: 1px solid black;
    width: 75%;
    height: 70%;
}

.cards img {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

/* #content_2, #content_3 { display:none; } */

/* ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
} */

/* .content ul {
    margin:0px;
    padding:20px;
    width: 45%;
}
.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:25px;
    padding-bottom: 3px;
    font-size:13px;
}
.content ul li a {
    text-decoration:none;
    color:#000000;
}
.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
} */
